:root {
    --primary-color: #FFFFFF;
    --secondary-color: #00b4d8;


    --background-color: #f0f2f5;
    --transparent-color: transparent;

    --icons-color: #B5B6B7;
    --titles-color: #222;
    --subtitles-color: #888;
    --text-color: #555;
}